.App {
  text-align: center;
  margin: 10px;
  padding: 20px;
  background-color: white
}
.Item {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  /* border: 1px solid grey; */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
